@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e5e7eb;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #057dcd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-weight: bold;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.sidebar .nav-link {
    color: white;
}

.nav-link svg {
    width: 48px;
}

.dashboard-text {
    font-size: 1.5rem;
}

.nav-menu, .branding-menu  {
    display: grid;
    gap: 18px;
    padding: 10px;
    font-size: 1.2rem;
}

.nav-menu .nav-link, .branding-menu .nav-link {
    gap: 25px;
}

.nav-menu svg, .branding-menu svg {
    width: 24px;
}

.header {
    background-color: white;
    padding: 5px 50px;
    display: grid;
    grid-template: 0.6fr 0.9fr / 2fr 1fr;
    box-shadow: 0px 3px 5px #a5a5a5;
}

.header svg {
    width: 32px;
}

.search {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search input[type=search] {
    border: none;
    background-color: #e5e7eb;
    border-radius: 20px;
    width: 90%;
    height: 5px;
    padding: 20px;
}

.small-profile {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding-left: 20px;
}

.small-profile .profile-icon {
    width: 52px;
}

.small-profile .full-name {
    font-weight: bold;
    font-size: 1.3rem;
}

.user-profile {
    display: flex;
    gap: 15px;
}

.user-profile .profile-icon {
    width: 92px;
}

.user-profile .profile-msg {
    display: grid;
    align-self: center;
    gap: 5px;
    font-weight: bold;
}

.greeting {
    font-size: 1rem;
}

.profile-username {
    font-size: 1.6rem;
}

.header-buttons {
    display: flex;
    justify-content: end;
    align-self: center;
    gap: 30px;
}

.header-buttons button {
    border: none;
    border-radius: 30px;
    padding: 10px 0px;
    background-color: #057dcd;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
}

.header .nav-link {
    color: black;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 25px;
}

.project-cards {
    grid-row: 1 / 3;
}

.project-card {
    background-color: white;
}

.announcement-card {
    background-color: white;
}

.trending-card {
    background-color: white;
}