* {
  margin: 0;
  padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #057dcd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.nav-link svg {
    width: 48px;
}

.dashboard-text {
    font-size: 1.5rem;
}

.nav-menu, .branding-menu  {
    display: grid;
    gap: 10px;
    padding: 15px;
}

.nav-menu .nav-link, .branding-menu .nav-link {
    gap: 25px;
}

.nav-menu svg, .branding-menu svg {
    width: 24px;
}

.header {
    background-color: white;
    padding: 25px;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.header svg {
    width: 24px;
}

.main-content {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 25px;
}

.project-cards {
    grid-row: 1 / 3;
}

.project-card {
    background-color: white;
}

.announcement-card {
    background-color: white;
}

.trending-card {
    background-color: white;
}